<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxjyjsaAJvc__3jYsmzJlqqu6S1oWrffE</string>
	<key>GCM_SENDER_ID</key>
	<string>870874549272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ytgs.imposter</string>
	<key>PROJECT_ID</key>
	<string>imposter-aeba0</string>
	<key>STORAGE_BUCKET</key>
	<string>imposter-aeba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870874549272:ios:036b7a13471edf7eb1476d</string>
</dict>
</plist>